/*** customise gift page styles ***/

h1#customizeGiftDefaultHeading { 
	text-align: center;
	color: orange;
	}

#customizeGiftDefault {
	background-color: #E5EDF5;
	height: 1%;
 	}

#customizeGiftDefault input:focus, #customizeGiftDefault textarea:focus {
	background: #BFDFFF;
	}

#customizeGiftDefault LABEL.inputLabel {
	width: 12em;
	}

